<% if(locals.lists){%>
<% lists.forEach(function(entry){%>
  <div class="card"  >
    <div class="card-header">
      
      <div class="dropdown">
        <%= entry.category%> - <%= entry.list_name%>

        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if(savedusers.includes(entry.created_by)){ %>
            <form action="/save/unsave/user" method="POST">
              <input type="hidden" value="<%=entry.created_by%>" name="unsaveid"/>
              <button type="submit" class="dropdown-item">Unsave User</button>
        </form>
          <%}  else{ %>
            <form action="/save/unsave/list" method="POST">
                  <input type="hidden" value="<%=entry._id%>" name="unsaveid"/>
                  <button type="submit" class="dropdown-item">Unsave List</button>
            </form>   
          <%} %>
        </div>   
        </div>

        <p><%= entry.list_description%></p>
        
      </div>
      
    
    <ul class="list-group list-group-flush">
      <% items.forEach(function(item){
        if(item.get('list_id') == entry._id) {%>
          <li class="list-group-item">
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="collapse" 
            href="#list-profile[<%=item.list_id%>][<%= item.item_order%>]" 
            role="tab" aria-controls="profile"><%=item.item_name%></a>
        
            <div class="collapse" id="list-profile[<%=item.list_id%>][<%= item.item_order%>]">
              <div class="card card-body">
                <%=item.item_description%>
              </div>
            </div>
      </li>
      <% }%>
    <%}); %>  
    </ul>
    <div class="card-footer text-muted">
      by <%= entry.created_by %> on <%= entry.timestamp.getDate()%>/ <%= entry.timestamp.getMonth()+1%>/ <%= entry.timestamp.getFullYear()%>
  </div>
</div>
 <%})%> 
<%}else{%>
YOU HAVE NOT SUB TO ANYTHING
<%} %> 
  

   
 